body {
	background: url('./resources/background.jpeg');

}

#wrapper {
	width: 1200px;
	margin: 0 auto;
	background: rgba(22,22,22, 0.7);
}


#playlist {

	width: 1000px;
	margin: 0 auto;

}
.row {
	margin: 0 auto;
	background: red;
	width: 1000px;
	border: black solid 2px;
	background: rgba(255, 255, 255, 0.8)
}

.column {
	display: inline-block;
	width: 162px;
	height: 30px;
}

.image-block {
 	margin: auto;
 	margin-right: 32px;
 	margin-top: 10px;
 	margin-bottom: -10px;
 	width: 90px;
 	height: 90px;
 	background: red;
}

img {
	max-height: 90px;
	max-width: 90px;
}

p {
	text-align: center;
}

p.smallCaps {
	font-variant: small-caps;
}

p.largerFont {
  font-size: 120%;
}

p.smallerFont {
	font-size: 60%;
}

p.Bold {
	font-weight: bold;
}

p.Italicize {
	font-style: italic;
}

p.Green {
	color: green;
}

ul {
	margin-left: 25px;
	font-size: 60%;
	list-style: none;
}

ul li:before {
	content: " - ";
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: red;
}