body {
	font-family: 'Taviraj', serif;
}

#result {
	text-align: center;
	color: blue;
	font-family: 'Taviraj', serif;
}
.row {
	margin: 10px;
}

.jumbotron {
	background-color: #e6f3ff
}

.form-control {
	margin: 5px;
}
h1 {
	color: white;
}
h2 {
	text-align: center;
	color: black;
}

.bg-success {
	background-color: #99ffbb;
	border-radius: 4px;
}

.bg-danger {
	border-radius: 4px;
}

.footer {
	margin-top: 200px;
}

.btn {
	margin-top: 10px;
}
/*.btn-mobile {
    width:100%;
    margin: 8px 0;
    font-size:18px;
    line-height:1.33;
    border-radius:6px;
    padding:10px 16px;
}
@media (min-width: 768px) {
  .btn-mobile {
    width: auto;
    font-size:14px;
    line-height: 1.428571429;
    padding:6px 12px;
  }
}*/


